<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the planificacion_pendientes_init() hook (in hooks/planificacion_pendientes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="planificacion_pendientes-planificacion-<%%VALUE(id)%%>" class="planificacion_pendientes-planificacion"><%%VALUE(planificacion)%%></td>
		<td id="planificacion_pendientes-interno-<%%VALUE(id)%%>" class="planificacion_pendientes-interno"><%%VALUE(interno)%%></td>
		<td id="planificacion_pendientes-comentario-<%%VALUE(id)%%>" class="planificacion_pendientes-comentario"><%%VALUE(comentario)%%></td>
		<td id="planificacion_pendientes-cumplido-<%%VALUE(id)%%>" class="planificacion_pendientes-cumplido text-right"><%%VALUE(cumplido)%%></td>
