<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the planificacion_equipos_init() hook (in hooks/planificacion_equipos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="planificacion_equipos-planificacion-<%%VALUE(id)%%>" class="planificacion_equipos-planificacion"><%%VALUE(planificacion)%%></td>
		<td id="planificacion_equipos-cliente-<%%VALUE(id)%%>" class="planificacion_equipos-cliente"><%%VALUE(cliente)%%></td>
		<td id="planificacion_equipos-equipo-<%%VALUE(id)%%>" class="planificacion_equipos-equipo"><%%VALUE(equipo)%%></td>
		<td id="planificacion_equipos-modelo-<%%VALUE(id)%%>" class="planificacion_equipos-modelo"><%%VALUE(modelo)%%></td>
		<td id="planificacion_equipos-servicio-<%%VALUE(id)%%>" class="planificacion_equipos-servicio"><%%VALUE(servicio)%%></td>
		<td id="planificacion_equipos-ubicacion-<%%VALUE(id)%%>" class="planificacion_equipos-ubicacion"><%%VALUE(ubicacion)%%></td>
		<td id="planificacion_equipos-horometro-<%%VALUE(id)%%>" class="planificacion_equipos-horometro"><%%VALUE(horometro)%%></td>
		<td id="planificacion_equipos-cumplido-<%%VALUE(id)%%>" class="planificacion_equipos-cumplido text-right"><%%VALUE(cumplido)%%></td>
		<td id="planificacion_equipos-comentarios-<%%VALUE(id)%%>" class="planificacion_equipos-comentarios"><%%VALUE(comentarios)%%></td>
		<td id="planificacion_equipos-fecha_cumplido-<%%VALUE(id)%%>" class="planificacion_equipos-fecha_cumplido"><%%VALUE(fecha_cumplido)%%></td>
		<td id="planificacion_equipos-distancia-<%%VALUE(id)%%>" class="planificacion_equipos-distancia"><%%VALUE(distancia)%%></td>
